funnel div{
	background: #f4364c;
	margin: 1em;
	width: 600px;
}

funnel ol {
	padding: 10px;
	padding-left: 20px;
	color: white;
}

funnel ol li {
	margin: 10px;
	padding-top: 10px;
	border-top: 2px dashed white;
}

funnel ol li:first-child {
	padding-top: 0;
	border-top: none;
}