<!-- obviously, not a real security mechanism. we need to get the code from
the backend or some other reputable source -->
<div>
	<img src="https://www.hotjar.com/hs-fs/hubfs/Image/logo.png?width=200&name=logo.png"><span> fun with funnels ;)</span><a href="http://localhost:8080?funnelcreatorcode={{$ctrl.secretCode}}" target="_blank">Create a new funnel</a>
</div>