funnel-starter div img{
	height: 50px;
	margin-bottom: 10px;
	display: inline-block;
}

funnel-starter div span{
	margin-right: 50px;
	margin-left: 10px;
}

funnel-starter div a{
	padding: 5px;
	display: inline-block;
	background: white;
	color: #f4364c;
	border: 5px solid #f4364c;
	border-radius: 20px;
	text-decoration: none;

}