
<span ng-if="$ctrl.stepData.stepType == 'url'">User visits the page: {{$ctrl.stepData.url}}</span>
<span ng-if="$ctrl.stepData.stepType != 'url'">
	User <span class="element-action">{{$ctrl.stepData.action}}</span> 
	element <span class="element-name">{{$ctrl.stepData.nodeName}}</span>
</span>